.btn {
  font-size: 12px;
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
  color: rgb(255, 231, 231);
  padding: 4px 15px;
  height: 32px;
  color: black;
}

/* Primary  */

.Primary {
  font-size: 12px;
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
  color: rgb(255, 231, 231);
  padding: 4px 15px;
  height: 32px;

  background-color: #40A9FF;

  border-radius: 2px;
  border: 1.4px solid;
  border-top-color: black;
  border-left-color: black;
  border-bottom-color: white;
  border-right-color: white;
}

.Primary:active {
  border-top-color: white;
  border-left-color: white;
  border-bottom-color: black;
  border-right-color: black;
}

/* Secondary */

.Secondary {
  font-size: 12px;
  padding: 10px;
  font-size: 12px;
  color: rgb(238, 113, 113);
  cursor: pointer;
  padding: 4px 15px;
  height: 32px;

  background-color: #F7E874;

  border-radius: 2px;
  border: 1.4px solid;
  border-top-color: black;
  border-left-color: black;
  border-bottom-color: white;
  border-right-color: white;
}

.Secondary:active {
  border-top-color: white;
  border-left-color: white;
  border-bottom-color: black;
  border-right-color: black;
}